<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Reviro Internship{% endblock %}</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
    <style>
        body {
            padding-top: 56px;
        }
    </style>
    {% block extra_css %}{% endblock %}
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">Reviro Internship</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <p>Welcome, {{ user.name }}! You are logged in as {{ user.email }}.</p>
                    <a href="{% url 'edit_profile' %}" class="btn btn-primary">Изменить Профиль</a>
                    <a href="{% url 'candidate_list' %}" class="btn btn-secondary">Список кандидатов</a>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                {% else %}
                    <p>You are not logged in.</p>
                    <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
                    <a href="{% url 'register' %}" class="btn btn-secondary">Register</a>
             
                {% endif %}
            </ul>
        </div>

    </div>
</nav>

<main role="main" class="container">
    {% block content %}{% endblock %}
</main>

<footer class="footer mt-auto py-3 bg-dark">
    <div class="container text-center">
        <span class="text-muted">&copy; 2024 Reviro. All rights reserved.</span>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% block extra_js %}{% endblock %}
</body>
</html>
